@import './fonts'
* {
  box-sizing border-box
}
::selection
    background-color: $primaryColor;
    color: #fff;
body, html
  height 100%
  font-size 14px
#app
  overflow-x: hidden;
body
  font-family 'Josefin Sans','PingFang SC','Microsoft YaHei'
  color $textColor
  background: #ffffff url('/images/bg.png')
a
  &:link, &:visited
    color $textColor
  &:hover, &:active
    color $primaryColor
.theme-container
  position relative
  height 100vh
.theme-main
  margin-left 280px
  position relative
  height 100%
  overflow-y auto
.theme-main__inner
  position: relative;
  display: block;
.router-link-active
  color $primaryColor
.tac
  text-align: center
.mt-1
  margin-top 4px
.mt-2
  margin-top 8px
.mt-4
  margin-top 16px
.mt-7
  margin-top 28px
h1,h2,h3,h4,h5,h6
  font-family impact,'Josefin Sans','PingFang SC','Microsoft YaHei'
  padding-bottom 0
  border-bottom none
  line-height 1.5

// icon
.icon-email:before
    content: "\E913"
.icon-github:before
    content: "\E92D";
.icon-qq:before
    content: "\E920";
.icon-feed:before
    content: "\E924";
// post list
.post-list
  &__item
    position relative
    display flex
    padding .5rem 0
    padding-left 1.5rem
    line-height 2rem
    align-items center
    &:after
      position absolute
      content '-'
      left 0
      width 1.5rem
      text-align center
  &__date
    letter-spacing 1px
    font-size .85rem
    opacity .63
    padding-right .5rem
    font-family Sarpanch,'Josefin Sans','PingFang SC','Microsoft YaHei'
  &__title
    font-size 1.15rem

// pagination
#app .pagination
  margin-top 2rem
  margin-bottom 2rem
#app .pagination > li
  &.disabled
    display: none
  &.page-item
    &.active > a
      background $primaryColor
      color #ffffff
    > a
      font-family Sarpanch,'Josefin Sans','PingFang SC','Microsoft YaHei'
      margin: 0 3px;
      padding 0
      text-align center
      line-height 2.4rem
      width: 2.4rem;
      height: 2.4rem;
      border-radius 50%
      border none
      background none
      &:hover
        background $primaryColor
        color #ffffff
  &:first-child > a, &:last-child > a
    width: 2.4rem;
    height: 2.4rem;
    text-align center
    line-height 2.4rem
    padding 0
    margin 0 3px
    border-radius 50%
    background none
    border none
    &:hover
      background $primaryColor
      color #ffffff
  &:first-child > a:after, &:last-child > a:after
    text-align center
    font-family Icon
  &:first-child > a:after
    content "\E90A"
  &:last-child > a:after
    content "\E909"
// 滚动条
::-webkit-scrollbar
    width: 8px;
    height: 6px;
::-webkit-rollbar-thumscb
    background-color rgba(96,125,139,.2)
@media (min-width: 676px)
  .theme-main__inner
    margin 2rem auto
    max-width 660px
    min-width 640px