@import './fonts'
* {
  box-sizing border-box
}
::selection
    background-color: $primaryColor;
    color: #fff;
html
  --theme-background #ffffff url('/images/bg.png')
  --inside-accent-color $primaryColor
  --inside-accent-color-005: rgba(96, 125, 139, .05);
  --inside-font-base: 'Josefin Sans', 'PingFang SC', 'Microsoft YaHei';
// html {
//   --inside-accent-color: #607d8b;
//   --inside-foreground-color: #363636;
//   --inside-border-color: #e0e0e0;
//   --inside-background: #ffffff url(https://www.toptal.com/designers/subtlepatterns/patterns/brickwall.png);
//   --inside-sidebar-background: #607d8b linear-gradient(to bottom, #607d8b 0%, #26323b 100%);
//   --inside-card-background: #fff;
//   
//   --inside-font-logo: Lobster, cursive, 'Josefin Sans', 'PingFang SC', 'Microsoft YaHei';
//   --inside-font-menu: IM Fell DW Pica SC, 'Josefin Sans', 'PingFang SC', 'Microsoft YaHei';
//   --inside-font-heading: impact, 'Josefin Sans', 'PingFang SC', 'Microsoft YaHei';
//   --inside-font-label: Sarpanch, 'Josefin Sans', 'PingFang SC', 'Microsoft YaHei';
//   --inside-font-code: 'Fira Code', Consolas, monospace;
//   --inside-font-print: 'PingFang SC', 'Microsoft YaHei';
//   --inside-content-width: 660px;
//   --inside-highlight-00: #ffffff;
//   --inside-highlight-01: #e0e0e0;
//   --inside-highlight-02: #f3f6f7;
//   --inside-highlight-03: #95a5b3;
//   --inside-highlight-04: #363636;
//   --inside-highlight-05: #262b2f;
//   --inside-highlight-06: #000000;
//   --inside-highlight-07: #000000;
//   --inside-highlight-08: #5d6c7b;
//   --inside-highlight-09: #40464a;
//   --inside-highlight-0a: #2980b9;
//   --inside-highlight-0b: #be516e;
//   --inside-highlight-0c: #237dac;
//   --inside-highlight-0d: #944770;
//   --inside-highlight-0e: #239371;
//   --inside-highlight-0f: #edf0f3;
//   --inside-card-color: #fff;
//   --inside-accent-color-005: rgba(96, 125, 139, .05);
//   --inside-accent-color-01: rgba(96, 125, 139, .1);
//   --inside-accent-color-02: rgba(96, 125, 139, .2);
//   --inside-accent-color-04: rgba(96, 125, 139, .4);
//   --inside-accent-color-08: rgba(96, 125, 139, .8)
// }
body, html
  height 100%
  font-size 14px
#app
  overflow-x: hidden;
body
  font-family 'Josefin Sans','PingFang SC','Microsoft YaHei'
  color $textColor
  background var(--theme-background)
a
  &:link, &:visited
    color $textColor
  &:hover, &:active
    color $primaryColor
.theme-container
  position relative
  height 100vh
.theme-main
  margin-left 280px
  position relative
  height 100%
  overflow-y auto
.theme-main__inner
  position: relative;
  display: block;
.router-link-active
  color $primaryColor
.tac
  text-align: center
.mt-1
  margin-top 4px
.mt-2
  margin-top 8px
.mt-4
  margin-top 16px
.mt-7
  margin-top 28px
h1,h2,h3,h4,h5,h6
  font-family impact,'Josefin Sans','PingFang SC','Microsoft YaHei'
  padding-bottom 0
  border-bottom none
  line-height 1.5
img {
  max-width: 100%;
}

// icon
[class^="icon-"]
  font-family Icon
  font-style normal
.icon-email:before
    content: "\E913"
.icon-github:before
    content: "\E92D";
.icon-qq:before
    content: "\E920";
.icon-feed:before
    content: "\E924";
.icon-calendar:before
    content: "\E90E";
.icon-author:before
    content: "\E903";
.icon-cate:before
    content: "\E904";
// post list
.post-list
  &__item
    position relative
    display flex
    padding .5rem 0
    padding-left 1.5rem
    line-height 2rem
    align-items center
    &:after
      position absolute
      content '-'
      left 0
      width 1.5rem
      text-align center
  &__date
    letter-spacing 1px
    font-size .85rem
    opacity .63
    padding-right .5rem
    font-family Sarpanch,'Josefin Sans','PingFang SC','Microsoft YaHei'
  &__title
    font-size 1.15rem

// pagination
#app .pagination
  margin-top 2rem
  margin-bottom 2rem
#app .pagination > li
  &.disabled
    display: none
  &.page-item
    &.active > a
      background $primaryColor
      color #ffffff
    > a
      font-family Sarpanch,'Josefin Sans','PingFang SC','Microsoft YaHei'
      margin: 0 3px;
      padding 0
      text-align center
      line-height 2.4rem
      width: 2.4rem;
      height: 2.4rem;
      border-radius 50%
      border none
      background none
      &:hover
        background $primaryColor
        color #ffffff
  &:first-child > a, &:last-child > a
    width: 2.4rem;
    height: 2.4rem;
    text-align center
    line-height 2.4rem
    padding 0
    margin 0 3px
    border-radius 50%
    background none
    border none
    &:hover
      background $primaryColor
      color #ffffff
  &:first-child > a:after, &:last-child > a:after
    text-align center
    font-family Icon
  &:first-child > a:after
    content "\E90A"
  &:last-child > a:after
    content "\E909"

// post
.custom-block.tip, .custom-block.warning, .custom-block.danger
  display: block;
  margin: 2rem 0;
  padding: 1rem 1.5rem;
  background-color: var(--inside-accent-color-005);
  border-left: 3px solid var(--inside-accent-color);
  border-radius: 3px;
  word-break: break-word;
  line-height: 1.8;
  .custom-block-title
    font-weight bold
    margin-bottom 0
    margin-block-end .4rem
.custom-block p
  line-height 1.8
  margin-block-start:  0
  margin-block-end:  0
// 滚动条
::-webkit-scrollbar
    width: 8px;
    height: 6px;
::-webkit-rollbar-thumscb
    background-color rgba(96,125,139,.2)
@media (min-width: 676px)
  .theme-main__inner
    margin 2rem auto
    max-width 660px
    min-width 640px