// light colors
$accentColor = #a16162
$textColor = #363636
$borderColor = #eaecef
$codeBgColor = alpha($accentColor, .05)
$arrowBgColor = #ccc
$badgeTipColor = $accentColor
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// dark colors
$dark_accentColor = #a16162
$dark_textColor = #d8d8d8
$dark_cardBackgroundColor = #252525

// content
$contentClass = '.article-content'

// // layout
// $navbarHeight = 3.6rem
$sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px


// // responsive breakpoints
$MQNarrow = 975px
$MQMobile = 675px
$MQMobileNarrow = 359px