// colors
$primaryColor = #a16162
$accentColor = $primaryColor
$textColor = #363636

// content
// $contentClass = '.article-content'

// // layout
// $navbarHeight = 3.6rem
$sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px


// // responsive breakpoints
$MQNarrow = 975px
$MQMobile = 675px
$MQMobileNarrow = 359px