// light colors
$accentColor = #607d8b
$textColor = #363636
$borderColor = #e0e0e0
$arrowBgColor = #ccc

// dark colors
$dark_accentColor = #607d8b
$dark_textColor = #d8d8d8
$dark_borderColor = #444
$dark_cardBackgroundColor = #252525

// badge color
$badgeTipColor = $accentColor
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// content
$contentClass = '.article-content'
$descClass = '.article-desc'

// // layout
// $navbarHeight = 3.6rem
$sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px


// // responsive breakpoints
$MQNarrow = 975px
$MQMobile = 675px
$MQMobileNarrow = 359px